.user-img {
    width: 40px;
}
.logo-txt {
    font-family: "Lucida Handwriting", cursive;
}
.fl-sp {
    margin-left: 20%;
}
.img-slider {
    width: 100%;
    height: 550px;
}
.img-cat {
    width: 25%;
    margin: 30px;
}
.nav-a-cstm:hover {
    color: black !important;
}
.active-link-c {
    font-weight: bold;
}
.active-link-c button {
    font-weight: bold;
}
footer {
    background-color: #4e94fd;
    color: white;
}
.ot-sec {
    background-color: #cde1fe;
    width: 30%;
}
.cate-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3vw;
}

@media (max-width: 767px) {
    .fl-sp {
        margin-left: initial;
        text-align: center;
    }
    .img-slider {
        width: 100%;
        height: auto;
    }
    .ot-sec {
        width: auto;
        margin: 15px auto;
    }
    .cate-grid {
        display: block;
    }
    .cate-grid > div {
        margin: 15px 10px;
    }
    .log-i {
        width: 100% !important;
    }
}