.user-img {
    width: 40px;
}
.logo-txt {
    font-family: "Lucida Handwriting", cursive;
}
.fl-sp {
    margin-left: 20%;
}
.img-slider {
    width: 100%;
    height: 550px;
}
.img-cat {
    width: 25%;
    margin: 30px;
}